.item-right {
    position : absolute;
    right : 15vw;
}
.item-inline {
    display : inline-block;
}
.item-block {
    display : block;
}
.item-left {
    position : absolute;
    left : 20px;
}
.item-center-vertical {
    position : absolute;
    right: 50%;
    top: 50%;
    transform: translateX(50%) translateY(-50%);

}
.item-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.item-parent {
    position : relative;
}

.item-flex-parent {
    display: flex;
}
.item-flex-space-around {
  justify-content: space-around;
}
.item-flex-space-between {
    justify-content: space-between;
}

.item-inlineblock-float-right {
    display: inline-block;
    float: right;
}
.item-inlineblock-float-left {
    display: inline-block;
    float: left;
}
