<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>查看候选人</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
          <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
          <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="css/InterviewForm.css">
          <!-- 加入Vue.js -->
          <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    </head>
    <body>
        <div class="" id = 'outerForm_Vue'>

        </div>
<!--  -->
        <script src="js/myTool.js" charset="utf-8"></script>
        <script src="js/checkInterviewer_vue.js" charset="utf-8"></script>
        <!-- <script src="js/updataForm_vue.js" charset="utf-8"></script> -->
    </body>
</html>
