<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>信息录入</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
          <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
          <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
          <link rel="stylesheet" href="css/InterviewForm.css">
    </head>
    <body>
        <div class="myForm">
            <div class="formTitle">
                <nav class="navbar navbar-expand-sm bg-info navbar-dark">
                <!-- Brand/logo -->
                    <a class="navbar-brand" href="newInterview">
                        <h1>西洋汇</h1>
                        <!-- <span class="small">面试表格</span> -->
                    </a>

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="newInterview">
                                新增面试
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="check">
                                查看候选人
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <br>
            <div class="formHead container">
                <div class="col-sm-12 alert alert-dark">
                    <div>
                        <span>您的到达时间</span>
                        <span class="arrivalTime">2018-6-24 09:58:19</span>
                    </div>
                    <div class="tipsBox">
                        <span class="tips ">
                            为了科学地进行结构化面试， 我们全过程采用无纸化面试， 请按照以下指引填写完善您的资料。
                        </span>
                    </div>
                </div>
            </div>
            <div class="formMain container">
                <div class="normalInfos row">
                    <div class="nameBox col-sm-3">
                        <div class="name">
                            <label class="font-weight-bold">中文名：</label>
                            <input name="nameInput" type="text">
                        </div>
                    </div>
                    <div class="genderBox col-sm-3">
                        <div class="gender">
                            <label class="font-weight-bold">性别：</label>
                            <select class="form-control" >
                                <option value="--">--</option>
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="nationBox col-sm-3">
                        <div class="nation">
                            <label class="font-weight-bold">民族：</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="nativeBox col-sm-3">
                        <div class="native">
                            <label class="font-weight-bold">籍贯：</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="birthdayBox col-sm-3">
                        <div class="birthday">
                            <label class="font-weight-bold">生日：</label>
                            <input type="date">
                            <!-- 不得已的做法, 不规范的做法 -->
                            <!-- <div class="">
                                <input type="text" id="date" readonly="readonly" placeholder="年/月/日"/>
                                <input type="date" class="mydate" onchange="aaa(this)"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="telBox col-sm-3">
                        <div class="tel">
                            <label class="font-weight-bold">联系电话：</label>
                            <input type="tel">
                        </div>
                    </div>
                    <div class="addressBox col-sm-6">
                        <div class="address">
                            <label class="font-weight-bold">详细地址：</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="workYearsBox col-sm-3">
                        <label class="font-weight-bold">工作年限：</label>
                        <div class="workYears input-group mb-3">
                            <input type="number" min="0" class="form-control" placeholder="全职工作年限">
                            <div class="input-group-append">
                            <span class="input-group-text">年</span>
                            </div>
                        </div>
                    </div>
                    <div class="marryBox col-sm-3">
                        <label class="font-weight-bold">婚姻状况：</label>
                        <div class="marry">
                            <!-- 需要flex布局 -->
                            <form class="d-inline-flex">
                                <label class="radio p-3 myResetPadding">
                                    <input type="radio" name="optradio" value="未婚">
                                    未婚
                                </label>
                                <label class="radio p-3 myResetPadding">
                                    <input type="radio" name="optradio" value="已婚">
                                    已婚
                                </label>
                                <label class="radio p-3 myResetPadding" value="离异">
                                    <input type="radio" name="optradio">
                                    离异
                                </label>
                                <label class="radio p-3 myResetPadding" value="丧偶">
                                    <input type="radio" name="optradio">
                                    丧偶
                                </label>
                            </form>
                        </div>
                    </div>
                    <div class="birthBox col-sm-3">
                        <label class="font-weight-bold" >生育状况：</label>
                        <div class="birth">
                            <!-- 需要flex布局 -->
                            <form class="d-inline-flex">
                              <label class="radio p-3 myResetPadding">
                                  <input type="radio" name="optradio" value="未育">
                                  未育
                              </label>
                              <label class="radio p-3 myResetPadding">
                                  <input type="radio" name="optradio" value="在孕">
                                  在孕
                              </label>
                              <label class="radio p-3 myResetPadding">
                                  <input type="radio" name="optradio" value="已育">
                                  已育
                              </label>

                            </form>
                        </div>
                    </div>
                    <div class="birthPlayBox col-sm-3">
                        <label class="font-weight-bold">婚育计划：</label>
                        <div class="birthPlan">
                            <!-- <label for="sel1">单选下拉菜单:</label> -->
                            <select class="form-control" >
                                <option>--</option>
                                <option>暂无</option>
                                <option>一年内有生育计划</option>
                                <option>两年内有生育计划</option>
                                <option>两年内未有生育计划</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="eduExps">
                    <div class="title row">
                        <div class="col-sm-12 mySection">
                             <span class="sectionTitle">教育经历</span>
                             <span class="">从最高其填写， 可填至中学。</span>
                        </div>
                    </div>
                    <hr>
                    <div class="lables row">
                            <div class="col-sm-3 font-weight-bold">
                                教育时间
                            </div>
                            <div class="col-sm-2 font-weight-bold">
                                性质
                            </div>
                            <div class="col-sm-2 font-weight-bold">
                                学历
                            </div>
                            <div class="col-sm-3 font-weight-bold">
                                学校名称
                            </div>
                            <div class="col-sm-2 font-weight-bold">
                                专业
                            </div>
                    </div>
                    <hr>
                    <div class="row detail MYTEST" data-id="1">
                        <div class="col-sm-3 timeBox">
                            <span class="from">
                                <input type="date" class="eduInput">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date" class="eduInput">
                            </span>
                        </div>
                        <div class="col-sm-2 natureBox">
                            <select class="form-control" >
                                <option value="--">--</option>
                                <option value="公立">公立</option>
                                <option value="私营">私营</option>
                                <option value="国外">国外</option>
                            </select>
                        </div>
                        <div class="col-sm-2 degreeBox">
                            <select class="form-control" >
                                <option value="--">--</option>
                                <option value="研究生以及以上学位">研究生以及以上学位</option>
                                <option value="本科">本科</option>
                                <option value="大专">大专</option>
                                <option value="高中或中专">高中或中专</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-3 schoolBox">
                            <input type="text" >
                        </div>
                        <div class="col-sm-2 majorBox">
                            <input type="text" >
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="2">
                        <div class="col-sm-3 timeBox">
                            <span class="from">
                                <input type="date" class="eduInput">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date" class="eduInput">
                            </span>
                        </div>
                        <div class="col-sm-2 natureBox">
                            <select class="form-control" >
                                <option>--</option>
                                <option>公立</option>
                                <option>私营</option>
                                <option>国外</option>
                            </select>
                        </div>
                        <div class="col-sm-2 degreeBox">
                            <select class="form-control" >
                                <option>--</option>
                                <option>研究生以及以上学位</option>
                                <option>本科</option>
                                <option>大专</option>
                                <option>高中或中专</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="col-sm-3 schoolBox">
                            <input type="text" >
                        </div>
                        <div class="col-sm-2 majorBox">
                            <input type="text" >
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="3">
                        <div class="col-sm-3 timeBox">
                            <span class="from">
                                <input type="date" class="eduInput">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date" class="eduInput">
                            </span>
                        </div>
                        <div class="col-sm-2 natureBox">
                            <select class="form-control" >
                                <option>--</option>
                                <option>公立</option>
                                <option>私营</option>
                                <option>国外</option>
                            </select>
                        </div>
                        <div class="col-sm-2 degreeBox">
                            <select class="form-control" >
                                <option>--</option>
                                <option>研究生以及以上学位</option>
                                <option>本科</option>
                                <option>大专</option>
                                <option>高中或中专</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="col-sm-3 schoolBox">
                            <input type="text" >
                        </div>
                        <div class="col-sm-2 majorBox">
                            <input type="text" >
                        </div>
                    </div>
                </div>
                <br>
                <div class="workExps">
                    <div class="title row">
                        <div class="col-sm-12 mySection">
                             <span class="sectionTitle">工作/实习经历</span>
                             <span class="">从最近起填写。</span>
                        </div>
                    </div>
                    <hr>
                    <div class="lables row">
                        <div class="col-sm-3 font-weight-bold">
                            工作时间
                        </div>
                        <div class="col-sm-1 font-weight-bold">
                            性质
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            单位名称
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            部门/职位
                        </div>
                        <div class="col-sm-1 font-weight-bold">
                            状态
                        </div>
                        <div class="col-sm-1 font-weight-bold">
                            薪资范围
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            证明人及电话
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="1">
                        <div class="col-sm-3">
                            <span class="from">
                                <input type="date">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date">
                            </span>
                        </div>
                        <div class="col-sm-1 natureBox">
                            <!-- <label for="sel1">单选下拉菜单:</label> -->
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="国有企业">国有企业</option>
                                <option value="事业单位">事业单位</option>
                                <option value="私营单位">私营单位</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-2 workPlaceBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-2 departmentBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-1 workStatusBox">
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="在职">在职</option>
                                <option value="离职">离职</option>
                            </select>
                        </div>
                        <div class="col-sm-1 salaryBox">
                            <input type="number" placeholder="选填">
                        </div>
                        <div class="col-sm-2 linkmanBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="2">
                        <div class="col-sm-3">
                            <span class="from">
                                <input type="date">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date">
                            </span>
                        </div>
                        <div class="col-sm-1 natureBox">
                            <!-- <label for="sel1">单选下拉菜单:</label> -->
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="国有企业">国有企业</option>
                                <option value="事业单位">事业单位</option>
                                <option value="私营单位">私营单位</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-2 workPlaceBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-2 departmentBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-1 workStatusBox">
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="在职">在职</option>
                                <option value="离职">离职</option>
                            </select>
                        </div>
                        <div class="col-sm-1 salaryBox">
                            <input type="number" placeholder="选填">
                        </div>
                        <div class="col-sm-2 linkmanBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="3">
                        <div class="col-sm-3">
                            <span class="from">
                                <input type="date">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date">
                            </span>
                        </div>
                        <div class="col-sm-1 natureBox">
                            <!-- <label for="sel1">单选下拉菜单:</label> -->
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="国有企业">国有企业</option>
                                <option value="事业单位">事业单位</option>
                                <option value="私营单位">私营单位</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-2 workPlaceBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-2 departmentBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-1 workStatusBox">
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="在职">在职</option>
                                <option value="离职">离职</option>
                            </select>
                        </div>
                        <div class="col-sm-1 salaryBox">
                            <input type="number" placeholder="选填">
                        </div>
                        <div class="col-sm-2 linkmanBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="4">
                        <div class="col-sm-3">
                            <span class="from">
                                <input type="date">
                            </span>
                            <span>到</span>
                            <span class="to">
                                <input type="date">
                            </span>
                        </div>
                        <div class="col-sm-1 natureBox">
                            <!-- <label for="sel1">单选下拉菜单:</label> -->
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="国有企业">国有企业</option>
                                <option value="事业单位">事业单位</option>
                                <option value="私营单位">私营单位</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                        <div class="col-sm-2 workPlaceBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-2 departmentBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-1 workStatusBox">
                            <select class="form-control">
                                <option value="--">--</option>
                                <option value="在职">在职</option>
                                <option value="离职">离职</option>
                            </select>
                        </div>
                        <div class="col-sm-1 salaryBox">
                            <input type="number" placeholder="选填">
                        </div>
                        <div class="col-sm-2 linkmanBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                </div>
                <br>
                <div class="famiStatus">
                    <div class="title row">
                        <div class="col-sm-12">
                             <span class="">家庭背景</span>
                             <span class=""></span>
                        </div>
                    </div>
                    <hr>
                    <div class="lables row">
                        <div class="col-sm-2 font-weight-bold">
                            关系
                        </div>
                        <div class="col-sm-3 font-weight-bold">
                            姓名
                        </div>
                        <div class="col-sm-4 font-weight-bold">
                            单位及职业
                        </div>
                        <div class="col-sm-3 font-weight-bold">
                            联系电话
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="1">
                        <div class="col-sm-2 relationshipBox">
                            <input type="text" placeholder="父/母/丈夫/妻子">
                        </div>
                        <div class="col-sm-3 nameBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-4 careerBox">
                            <input type="text" placeholder="必填">
                        </div>
                        <div class="col-sm-3 telBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                    <hr>
                    <div class="row detail" data-id="2">
                        <div class="col-sm-2 relationshipBox">
                            <input type="text" placeholder="父/母/丈夫/妻子">
                        </div>
                        <div class="col-sm-3 nameBox">
                            <input type="text" name="" value="">
                        </div>
                        <div class="col-sm-4 careerBox">
                            <input type="text" placeholder="必填">
                        </div>
                        <div class="col-sm-3 telBox">
                            <input type="text" placeholder="必填">
                        </div>
                    </div>
                </div>
                <br>
                <div class="jobObjected">
                    <div class="title row">
                        <div class="col-sm-12 mySection">
                             <span class="sectionTitle">应聘情况</span>
                        </div>
                    </div>
                    <div class="lables row">
                        <div class="col-sm-3 font-weight-bold">
                            应聘职能：
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            应聘性质：
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            自我定位：
                        </div>
                        <div class="col-sm-2 font-weight-bold">
                            薪资要求：
                        </div>
                        <div class="col-sm-3 font-weight-bold">
                            可到岗时间
                        </div>
                    </div>
                    <div class="row detail" data-id="1">
                        <div class="col-sm-3 positionBox">
                            <select class="" name="" size="6">
                                <optgroup label="技术部">
                                    <option value="PHP工程师">PHP工程师</option>
                                    <option value="前端工程师">前端工程师</option>
                                    <option value="技术培训生">技术培训生</option>
                                    <option value="后端工程师">后端工程师</option>
                                    <option value="高级工程师">高级工程师</option>
                                </optgroup>
                                <optgroup label="销售部">
                                    <option value="销售顾问">销售顾问</option>
                                    <option value="客服代表">客服代表</option>
                                    <option value="销售经理">销售经理</option>
                                </optgroup>
                                <optgroup label="人事部">
                                    <option value="HR">HR</option>
                                    <option value="薪酬管理">薪酬管理</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-sm-2 natureBox">
                            <select class="form-control">
                                <option value="全职">全职</option>
                                <option value="兼职">兼职</option>
                            </select>
                        </div>
                        <div class="col-sm-2 selfPositionBox">
                            <select class="form-control">
                                <option value="培训生/实习生">培训生/实习生</option>
                                <option value="初级工程师">初级工程师</option>
                                <option value="中级工程师">中级工程师</option>
                                <option value="高级工程师">高级工程师</option>
                                <option value="总监/CTO">总监/CTO</option>
                            </select>
                        </div>
                        <div class="col-sm-2 salaryBox">
                            <input type="number" placeholder="可填">
                        </div>
                        <div class="col-sm-3 arrivalTimeBox">
                            <select class="form-control">
                                <option value="随时">随时</option>
                                <option value="一周以内">一周以内</option>
                                <option value="两周以内">两周以内</option>
                                <option value="一个月以内">一个月以内</option>
                                <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="formFooter container declaration">
                <div class="footerTitle alert alert-dark">
                    <h2>候选人声明</h2>
                </div>
                <hr>
                <div class="declarationBox">
                    <input type="checkbox">
                    <span class="">
                        本人提供的一切个人信息、 教育背景、 工作经历、 家庭背景等全部属实。 本人充分了解上述资料的真实性是双方能达成工作契约、 合作关系的前提条件。 如有虚假或瞒报， 属于严重的违规问题， 公司有权单方解除劳动关系或其它形式签订的工作合作契约； 公司因此所遭受的损失， 本人有赔偿义务。
                    </span>
                </div>
            </div>
            <br>
        </div>
        <div class="container final text-right">
            <!-- <button type="button" name="button" class="finalSumit btn btn-primary">若以上信息无误, 请确认</button> -->
            <button type="button" name="button" class="btn btn-primary finalCheck" data-toggle="modal" data-target="#myModal">确保以上信息无误, 请确认</button>
        </div>
        <br>
        <div class="container">
        <!-- 模态框 -->
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                    <!-- 模态框头部 -->
                        <div class="modal-header">
                        <h4 class="modal-title">请确认信息</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                    <!-- 模态框主体 -->
                        <div class="modal-body">
                        模态框内容..
                        </div>

                    <!-- 模态框底部 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary finalSumit" data-dismiss="modal">确认</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <script src="js/myTool.js" charset="utf-8"></script>
        <script src="js/getNormalInfos.js" charset="utf-8"></script>
        <script src="js/getEduExps.js" charset="utf-8"></script>
        <script src="js/getWorkExps.js" charset="utf-8"></script>
        <script src="js/getFamiStatus.js" charset="utf-8"></script>
        <script src="js/getJobObjected.js" charset="utf-8"></script>
        <script src="js/getDeclaration.js" charset="utf-8"></script>
        <script src="js/addInterviewer.js" charset="utf-8"></script>
    </body>
</html>
