
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>for test</title>
    </head>
    <body>
        <div class="testDiv">
            <input type="text" name="" value="" placeholder="输入名字"
            class = "testInput">
            <button type="button" name="button" class="testSumit">testSumit</button>
        </div>

        <script src="js/myTool.js" charset="utf-8"></script>
        <script src="js/testAdd.js" charset="utf-8"></script>
    </body>
</html>
